@import "tailwindcss";
/* globals.css */

body {
  font-family: var(--font-onest), sans-serif;
}



/* Your custom styles */
.wrapper {
    margin: 0 24px;
}
@media (min-width: 768px) {
   .wrapper{
       margin: 0 40px;
    }
}
@media (min-width: 1024px) {
   .wrapper{
        margin: 0 40px;  
    }
}

@media (min-width: 1280px) {
   .wrapper{
        margin: 0 40px;   
    }
}


@media (min-width: 1440px) {
   .wrapper{
        max-width: 1312px;
        margin: 0 auto; 
    }
}
