@import "tailwindcss";
/* globals.css */




body {
  font-family: var(--font-onest), sans-serif;
}


/* Wrapper for complete website styling started here */

.wrapper {
    margin: 0 24px;
}
@media (min-width: 768px) {
   .wrapper{
       margin: 0 40px;
    }
}
@media (min-width: 1024px) {
   .wrapper{
        margin: 0 40px;  
    }
}

@media (min-width: 1280px) {
   .wrapper{
        margin: 0 40px;   
    }
}


@media (min-width: 1440px) {
   .wrapper{
        max-width: 1312px;
        margin: 0 auto; 
    }
}

@media (min-width: 1535px) {
  .wrapper{
        max-width: 1380px;
        margin: 0 auto; 
    }
}

@media (min-width: 1750px) {
  .wrapper{
        max-width: 1700px;
        margin: 0 auto; 
    }
}

/* Wrapper for complete website styling ended here */

.gradient-text {
  background: linear-gradient(90deg, #231F20 0%, #8A8A8A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}



/* Pagination bullets */
.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #795CF5;
  opacity: 0.4;
  transition: all 0.3s ease;
  border-radius: 50%;
}

/* Active bullet */
.swiper .swiper-pagination-bullet-active {
  opacity: 1;
  width: 15px;
  height: 15px;
  background-color: #795CF5;
}

.swiper-mobile {
  display: none;
}

.columns-container {
  display: block;
}

@media (max-width: 767px) {

  .swiper-mobile {
    display: block;
  }

  .columns-container {
    display: none;
  }
}


.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}


@media (max-width: 767px) {
  .ownerinventory-landing__pos-buildingmobile {
    background: linear-gradient(180deg, rgba(121, 92, 245, 0.5) 0%, rgba(26, 209, 185, 0.4) 100%);
  }
}

.gradient-shadow {
  position: relative;
  z-index: 1;
}

.gradient-shadow::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0px;
  bottom: -20px;
  left: 30px;
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.2) 0.66%,
      rgba(56, 172, 204, 0.2) 29.25%,
      rgba(85, 136, 223, 0.2) 63.93%,
      rgba(121, 92, 245, 0.2) 98.14%);
  filter: blur(20px);
  z-index: -1;
}
.gradient-shadow-right {
  position: relative;
  z-index: 1;
}


@media (min-width: 768px) {
  .gradient-shadow-right::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  bottom: -20px;
  left: -60px;
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.2) 0.66%,
      rgba(56, 172, 204, 0.2) 29.25%,
      rgba(85, 136, 223, 0.2) 63.93%,
      rgba(121, 92, 245, 0.2) 98.14%);
  filter: blur(20px);
  z-index: -1;
}
}

.gradient-shadow-right::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  bottom: -20px;
  left: 0px;
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.2) 0.66%,
      rgba(56, 172, 204, 0.2) 29.25%,
      rgba(85, 136, 223, 0.2) 63.93%,
      rgba(121, 92, 245, 0.2) 98.14%);
  filter: blur(20px);
  z-index: -1;
}

.finance-reporting-shadow {
  position: relative;
  z-index: 1;
}

.finance-reporting-shadow::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0px;
  bottom: -100px;
  left: 0px;
  border-radius: inherit;
  background: linear-gradient(69.54deg,
      rgba(26, 209, 185, 0.2) 0.66%,
      rgba(56, 172, 204, 0.2) 29.25%,
      rgba(85, 136, 223, 0.2) 63.93%,
      rgba(121, 92, 245, 0.2) 98.14%);
  filter: blur(20px);
  z-index: -1;
}



